.gallery
    {
        display: inline;
        margin-top: 20px;
    }
    body{
    margin: 40px;
    }

    button{
    cursor: pointer;
    outline: 0;
    color: #AAA;

    }

    .btn:focus {
    outline: none;
    }


    .close-icon{
        border-radius: 50%;
        position: absolute;
        right: 5px;
        top: -10px;
        padding: 5px 8px;
    }
    .form-image-upload{
        background: #e8e8e8 none repeat scroll 0 0;
        padding: 15px;
    }
    .item {
        position: relative;
        overflow:  hidden;
        height: 300px;
    }
    .comment-btn{
        width: 92px;
    }
    .item img {
        position: absolute;
        left: -50%;
        top: -50%;
        bottom: -50%;
        right: -50%;
        margin: auto;
        width: 100%;
        height: 85%;
        object-fit:cover;
    }